* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e9e9f1;
}
.container {
    margin-top: 25px;
    width: 40%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;

}
.description {
    text-align: center;
}

.avatar {
    width: 200px;
    margin-bottom: 15px;
}

.name, .quantity{
font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;
    color: #525257;
}

.tag, .location, .lable {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;
    color: #aeaeb6;
}

.stats{
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #f8f8fd;
}
.statItem {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;  
    border: 1px solid rgb(204, 204, 204);

}